<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Welcome<br></div>
                <div class="intro-lead-in">Novika Damai Yanti</div>
                <div class="intro-lead-in">Fakultas Sains & Teknologi</div>
                <div class="intro-lead-in">UIN SUSKA RIAU <br><a herf="http://sif.uin-suska.ac.id/">
                  http://uin-suska.ac.id/<a href="http://uin-suska.ac.id"></font></div>
                <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a>
                  <a href=" http://uin-suska.ac.id/" class="page-scroll btn btn-xl">Uin Suska Riau</a>
                  <a href="http://sif.uin-suska.ac.id/" class="page-scroll btn btn-xl">Sistem Informasi</a>
            </div>
        </div>
    </header>

    {% include 2017_data/intro.html %}
    {% include 2017_data/speakers.html %}
    {% include 2017_data/about.html %}
    {% include 2017_data/sponsors.html %}
    {% include 2016_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
